@model IEnumerable<Leet_Translator.Models.TranslationRecord>

<h2>Translation Records</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Input Text</th>
            <th>Translated Text</th>
            <th>Timestamp</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Id</td>
                <td>@record.InputText</td>
                <td>@record.TranslatedText</td>
                <td>@record.TimeStamp</td>
            </tr>
        }
    </tbody>
</table>